body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(160, 198, 216);
}
a {
  color: inherit;
  cursor: pointer;
  width: 100%;
}

.product {
  text-overflow: ellipsis;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.modal-show {
  display: block;
}
